.container{
    width: 330px;
    height: 600px;
    border: 1px none;
    box-shadow: 1px 1px 1px gray;
    position: absolute;
    top: 100px;
    left: 600px;
}
.start{
    font-size: 40px;
    position: absolute;
    top: 40px;
    left: 10px;
}
.start1{
    font-size: 25px;
    font-weight:lighter;
    position: absolute;
    top: 45px;
    left: 280px;
}
.material-icons{
    color: white;
    background-color: red;
    padding: 4px;
    border-radius: 20px;
}
.items{
    width: 330px;
    height: 450px;
    position: absolute;
    top: 100px;
    left: 10px;
}
.item1{
    width: 260px;
    font-size: x-large;
    color: gray;
    padding: 25px;
    margin-top: 10px;
    border: 0.01px solid red;
    box-shadow: 5px 5px 3px rgb(215, 212, 212);
    border-radius: 5px;
}
.item2{
    width: 260px;
    font-size: x-large;
    color: gray;
    padding: 25px;
    margin-top: 10px;
    border: 0.01px solid red;
    box-shadow: 5px 5px 3px rgb(215, 212, 212);
    border-radius: 5px;
}
.item3{
    width: 260px;
    font-size: x-large;
    color: gray;
    padding: 25px;
    margin-top: 10px;
    border: 0.01px solid red;
    box-shadow: 5px 5px 3px rgb(215, 212, 212);
    border-radius: 5px;
}
.item4{
    width: 260px;
    font-size: x-large;
    color: gray;
    padding: 25px;
    margin-top: 10px;
    border: 0.01px solid red;
    box-shadow: 5px 5px 3px rgb(215, 212, 212);
    border-radius: 5px;
}
.item5{
    width: 260px;
    font-size: x-large;
    color: gray;
    padding: 25px;
    margin-top: 10px;
    border: 0.01px solid red;
    box-shadow: 5px 5px 3px rgb(215, 212, 212);
    border-radius: 5px;
}
.container1{
    width: 330px;
    height: 600px;
    border: 1px none;
    box-shadow: 1px 1px 1px gray;
}
h3{
    text-align: left;
    font-size: x-large;
    color: red;
}
del{
    font-weight: bold;
    text-align: center;
    font-size:larger;
    color: red;
}
.trip{
    display: inline-block;
    font-size: 40px;
    position: absolute;
    top: 20px;
    left: 80px;
    display: inline;
}

.item11{
   
    text-align: left;
    box-shadow: 8px 8px 5px rgb(102, 102, 103);
    padding-left: 100px;
   width: 160px;
   height: 350px;
   border: 2px solid red;
    border-radius: 10px;
    position: absolute;
    top: 150px;
    left: 30px;
}
.icon2{
    position: absolute;
    top: 310px;
    left: 210px;
}
.back{
    position: absolute;
    top: 25px;
    left: 20px;
}
.blur{
    filter: blur(5px);
}
#text{
    height: 35px;
    width: 170px;
    border: 1px solid red;
    border-radius: 2px;
    box-shadow: 1px 1px 1px gray;
}
#btn{
    text-align: center;
    width: 60px;
    height: 35px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 20px;
}
.add{
    text-align: center;
    width: 200px;
    height: 110px;
    padding: 30px;
    display: inline;
    border: 2px solid red;
    background-color: white;
    border-radius: 10px;
    box-shadow: 8px 8px 5px rgb(186, 186, 186);
    position: absolute;
    top: 200px;
    left: 035px;
}
label{
    font-size: 20px;
    color: red;
}
@media (width:max(100vw,350px)){
    .container{
        width: 290px;
        height: fit-content;
        border: 1px solid;
    }
    .start{
        font-size: 40px;
    }
    .start1{
        font-size: 25px;
        font-weight:lighter;
        position: absolute;
        top: 20px;
        left: 280px;
    }
    .material-icons{
        color: white;
        background-color: red;
        padding: 4px;
        border-radius: 20px;
    }
    .item1{
        width: 260px;
        font-size: x-large;
        color: gray;
        padding: 20px;
        margin: 10px;
        border: 0.01px solid red;
        box-shadow: 5px 5px 3px rgb(215, 212, 212);
        border-radius: 5px;
    }
    .item2{
        width: 260px;
        font-size: x-large;
        color: gray;
        padding: 20px;
        margin: 10px;
        border: 0.01px solid red;
        box-shadow: 5px 5px 3px rgb(215, 212, 212);
        border-radius: 5px;
    }
    .item3{
        width: 260px;
        font-size: x-large;
        color: gray;
        padding: 20px;
        margin: 10px;
        border: 0.01px solid red;
        box-shadow: 5px 5px 3px rgb(215, 212, 212);
        border-radius: 5px;
    }
    .item4{
        width: 260px;
        font-size: x-large;
        color: gray;
        padding: 20px;
        margin: 10px;
        border: 0.01px solid red;
        box-shadow: 5px 5px 3px rgb(215, 212, 212);
        border-radius: 5px;
    }
    .item5{
        width: 260px;
        font-size: x-large;
        color: gray;
        padding: 20px;
        margin: 10px;
        border: 0.01px solid red;
        box-shadow: 5px 5px 3px rgb(215, 212, 212);
        border-radius: 5px;
    }
    .container1{
        width: 330px;
        height: 600px;
        border: 1px none;
        box-shadow: 1px 1px 1px gray;
    }
    h3{
        text-align: left;
        font-size: x-large;
        color: red;
    }
    del{
        font-weight: bold;
        text-align: center;
        font-size:larger;
        color: red;
    }
    .trip{
        display: inline-block;
        font-size: 40px;
        position: absolute;
        top: 20px;
        left: 80px;
        display: inline;
    }
    
    .item11{
       
        text-align: left;
        box-shadow: 8px 8px 5px rgb(102, 102, 103);
        padding-left: 100px;
       width: 160px;
       height: 350px;
       border: 2px solid red;
        border-radius: 10px;
        position: absolute;
        top: 150px;
        left: 50px;
    }
    .icon2{
        position: absolute;
        top: 310px;
        left: 210px;
    }
    .back{
        position: absolute;
        top: 25px;
        left: 20px;
    }
    .blur{
        filter: blur(5px);
    }
    #text{
        height: 35px;
        width: 170px;
        border: 1px solid red;
        border-radius: 2px;
        box-shadow: 1px 1px 1px gray;
    }
    #btn{
        text-align: center;
        width: 60px;
        height: 35px;
        color: white;
        background-color: red;
        border: none;
        border-radius: 20px;
    }
    .add{
        text-align: center;
        width: 200px;
        height: 110px;
        padding: 30px;
        display: inline;
        border: 2px solid red;
        background-color: white;
        border-radius: 10px;
        box-shadow: 8px 8px 5px rgb(186, 186, 186);
        position: absolute;
        top: 200px;
        left: 035px;
    }
    label{
        font-size: 20px;
        color: red;
}
}